button{
    background-color: #45ffba;
    margin: 1em;
}

:host::ng-deep mat-card{
    background-color: #8F92B9;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    height: fit-content;
    
    //https://grid.layoutit.com/?id=KjLXmUg
    display: grid; 
    grid-template-columns: 1/3fr 1/3fr 1/3fr; 
    grid-template-rows: 0.2fr 0.6fr 0.2fr; 
    //gap: 1em 1em; 
    grid-template-areas: 
        "product-name product-name product-name"
        "product-img product-img product-img"
        "product-link product-price product-remove"; 
    justify-items: center;
    max-width: 60%;
    width: 60%;
    min-width: min-content;
}

:host::ng-deep .product-img{
    grid-area: product-img;
    width: auto;
    max-width: 30%;
    height: auto;
    box-shadow: 3px 3px 10px #292929;
    border-radius: 10px;
}

:host::ng-deep .product-link{
    grid-area: product-link;
    color: black;
    background-color: white;
    height: fit-content;
}
:host::ng-deep .product-link:active{
    box-shadow: 3px 3px 10px black;
    background-color: #45ffba;
}

:host::ng-deep .product-remove{
    grid-area: product-remove;
    color: white;
    background-color: #FF458A;
    height: fit-content;
}
:host::ng-deep .product-info{
    grid-area: product-remove;
    color: white;
    background: rgb(163,34,195);
    background: linear-gradient(13deg, rgba(163,34,195,1) 0%, rgba(255,88,119,1) 48%, rgba(253,223,45,1) 100%);
    height: fit-content;
}
:host::ng-deep .product-remove:active{
    box-shadow: 3px 3px 10px #292929;
    background-color: white;
    color: #FF458A;
}

:host::ng-deep .product-price{ 
    grid-area: product-price; 
    font-size: 1.5rem;
}

:host::ng-deep .price-on-sale{ 
    color:#45ffba;
    text-align: center;
}

:host::ng-deep .product-name{ 
    grid-area: product-name; 
    font-size: 1.3em;
    padding-right: 1em;
}

:host::ng-deep .product-card-element{
    margin: 1em;
    justify-content: center;
    align-self: center;
}

:host::ng-deep mat-icon{
    vertical-align: middle;
}

:host::ng-deep button{
    box-shadow: 2px 2px 5px #292929;
    min-width: fit-content;
}

@media only screen and (max-width: 650px) {
    :host::ng-deep mat-card {
        width: 95%;
        max-width: 95%;
        min-width: unset;
        grid-template-columns: 33vw 33vw 33vw; 
    }

    :host::ng-deep .product-price{ 
        grid-area: product-price; 
        font-size: 1.25rem;
    }

    :host::ng-deep .product-img{
        max-width: 12em;
        width: 27vw;
    }

    :host::ng-deep .product-img{
        max-width: 50%;
    }
}

@media only screen and (max-width: 400px) {
    :host::ng-deep mat-card {
        width: 95%;
        max-width: 95%;
        min-width: unset;
        display: flex;
        flex-direction: column;
    }
    :host::ng-deep .product-card-element{
        margin: 0em;
        margin-bottom: 1em;
    }

    :host::ng-deep .product-name{ 
        margin: 1em;
    }

    :host::ng-deep .product-img{
        max-width: 90%;
    }
}