button{
    background-color: #45ffba;
    margin: 1em;
}

:host::ng-deep mat-card{
    background-color: #8F92B9;
    margin: 1em;
    border-radius: 10px;
    width: 60%;
    min-width: min-content;
    height: fit-content;
    
    //https://grid.layoutit.com/?id=KjLXmUg
    display: grid; 
    grid-template-columns: 0.8fr 0.8fr 0.8fr; 
    grid-template-rows: 0.2fr 1fr 0.2fr; 
    gap: 1em 1em; 
    grid-template-areas: 
        "product-name product-name product-name"
        "product-img product-img product-img"
        "product-link product-price product-remove"; 
    justify-items: center;
}

:host::ng-deep .product-img{
    grid-area: product-img;
    max-width: 12em;
    max-height: 12em;
    box-shadow: 3px 3px 10px black;
    border-radius: 10px;
}

:host::ng-deep .product-link{
    grid-area: product-link;
    color: black;
    background-color: white;
    width: fit-content;
    height: fit-content;
}
:host::ng-deep .product-link:active{
    box-shadow: 3px 3px 10px black;
    background-color: #45ffba;
}

:host::ng-deep .product-remove{
    grid-area: product-remove;
    color: white;
    background-color: #CC252C;
    width: fit-content;
    height: fit-content;
}
:host::ng-deep .product-remove:active{
    box-shadow: 3px 3px 10px black;
    background-color: white;
    color: #CC252C;
}

:host::ng-deep .product-price{ 
    grid-area: product-price; 
    font-weight: 550;
}

:host::ng-deep .price-on-sale{ 
    color:#45ffba;
}

:host::ng-deep .product-name{ 
    grid-area: product-name; 
    font-size: 1.3em;
}

:host::ng-deep h3{ 
    width: initial;
}

:host::ng-deep .product-card-element{
    margin: 1em;
    justify-content: center;
}

