
SWR-server/.vs/SWR-server/v16/.suo
SWR-server/SWR-server/bin/Debug/net5.0/ref/SWR-server.dll
SWR-server/SWR-server/bin/Debug/net5.0/SWR-server.dll
SWR-server/SWR-server/bin/Debug/net5.0/SWR-server.pdb
SWR-server/SWR-server/log.txt
SWR-server/SWR-server/obj/Debug/net5.0/ref/SWR-server.dll
SWR-server/SWR-server/obj/Debug/net5.0/SWR-server.csproj.AssemblyReference.cache
SWR-server/SWR-server/obj/Debug/net5.0/SWR-server.dll
SWR-server/SWR-server/obj/Debug/net5.0/SWR-server.pdb
