.header-wrapper{
    background-color: #8F92B9;
    width: 60%;
    margin: 0 auto;
    min-width: fit-content;
    border-radius: 10px;
    box-sizing:border-box;
}
h1{
    color: white;
    padding: 0.5em;
    
}