button {
    background-color: #45ffba;
    color: #292929;
}
button:active {
    background-color: white;
    color: #FF458A;
}

.add-product-form-wrapper{
    background-color: #8F92B9;
    width: 60%;
    min-width: fit-content;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.add-product-form-element{
    margin: 1em;
}

mat-form-field {
    width: 65%;
}

h3{
    color: white;
    padding-left: 1em;
    padding-top: 1em;
    margin-bottom: -1em;
}