button {
    background-color: #CC252C;
    color:white;
}

.add-product-form-wrapper{
    background-color: #8F92B9;
    width: fit-content;
    margin: 1em;
    border-radius: 10px;
}

.add-product-form-element{
    margin: 0.5em;
}