app-footer{
    background-color: red;
}
.footer-wrapper {
    background-color: #8F92B9;
    margin: 0 auto;
    border-radius: 10px;
    box-sizing:border-box;
    width: 95%;
}
ol {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
li{
    color: white;
    padding: 0.5em;
}

@media only screen and (max-width: 650px) {
    .footer-wrapper {
        align-content: center;
    }
    ol {
        flex-direction: column;
        align-items: center;
        padding-inline-start: 0%;
    }
    li {
        color: white;
        padding: 0.1em;
    }
}